* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.users-list, .registration-panel {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-panel{
    position: sticky;
}

.users-list h2, .registration-panel h2 {
    margin-bottom: 20px;
}

.users-list ul {
    list-style-type: none;
}

.users-list ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0075f7;
    color: white;
    border-radius: 4px;
}

.registration-panel form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registration-panel label {
    font-weight: bold;
}

.registration-panel input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    background-color: #0075f7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.registration-panel button:hover {
    background-color: #005bb5;
}


#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}